{%
  set cur_page = url('<current>')
%}

{%  set APA_authors = [] %}
{%  set MLA_authors = [] %}
{%  set BibTeX_authors = [] %}

{% for speaker in speakers %}
  {% set APA_authors = APA_authors|merge([speaker.last ~ ', ' ~ speaker.initials])  %}
  {% set BibTeX_authors = BibTeX_authors|merge([speaker.last ~ ', ' ~ speaker.first])  %}
{% endfor %}

{% set APA_max_authors_len = 6 %}
{% if APA_authors|length <= APA_max_authors_len %}
{%   set APA_authors = APA_authors|join(', ', ' & ') %}
{% elseif APA_authors|length > APA_max_authors_len %}
{%   set APA_authors = APA_authors|slice(0,APA_max_authors_len)|join(', ') ~ ', ...' %}
{% endif %}

{% set BibTeX_authors = BibTeX_authors|join(' and ') %}

{% if speakers|length == 1 %}
  {% set MLA_authors = speakers|first  %}
  {% set MLA_authors = MLA_authors.last ~ ', ' ~ MLA_authors.first ~ '.' %}
{% elseif speakers|length == 2 %}
  {% set first_author = speakers|first  %}
  {% set second_author = speakers|last  %}
  {% set MLA_authors = first_author.last ~ ', ' ~ first_author.first ~ ', and ' ~ second_author.first ~ ' ' ~ second_author.last ~ '.' %}
{% elseif speakers|length > 2 %}
  {% set first_author = speakers|first  %}
  {% set MLA_authors = first_author.last ~ ', ' ~ first_author.first ~ ', et al.' %}
{% endif %}

<div id="citations" class="citations-wrapper">
  <button class="citations-label button js-modal" data-modal-content-id="citations-content" data-modal-title="{{ title }}" aria-haspopup-"dialog">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z" />
    </svg>
    <span class="text">{{ 'Cite'|t }}</span>
  </button>

  <div id="citations-content">
    <div class="js-tabs citations-content">
      <ul class="citations-tab-labels display-list js-tablist" data-hx="h3">
        <li class="js-tablist__item"><a href="#citation-apa" class="js-tablist__link">{{ 'APA'|t }} </a></li>
        <li class="js-tablist__item"><a href="#citation-mla" class="js-tablist__link">{{ 'MLA'|t }} </a></li>
        <li class="js-tablist__item"><a href="#citation-bibtex" class="js-tablist__link">{{ 'BibTeX'|t }} </a></li>
      </ul>

      <div class="citation-item js-tabcontent" id="citation-apa">
        <h3 class="visually-hidden">{{ 'APA'|t }}</h3>
        <p class="citation-content">
          {# authors surname, initials. (Date Published). Title of source. Reposiory. URL  #}
          {{ APA_authors|e }} ({{ year}}). {{ title|e }}. {{ repository|e }}. {{ url }}
        </p>
      </div>

      <div class="citation-item js-tabcontent" id="citation-mla">
        <h3 class="visually-hidden">{{ 'MLA'|t }} </a></h3>
        <p class="citation-content">
          {# MLA formatting:  Author's Last name, First name. "Title of Source." Title of Container, other contributors, version, numbers, publisher, publication date, location. #}
          {{ MLA_authors|e }} {{ title|e }}. {{ repository|e }}, {{ talk_date_formatted }}, {{ url }}
        </p>
      </div>

      <div class="citation-item js-tabcontent" id="citation-bibtex">
        <h3 class="visually-hidden">{{ 'BibTex'|t }} </h3>
        <div class="citation-content bibtex-content">
          <pre>
          @misc{ {{site_name|e}}_{{talk_number}},
            doi = {% verbatim %}{{% endverbatim %}{{doi|e}}{% verbatim %}}{% endverbatim %},
            url = {% verbatim %}{{% endverbatim %}{{cur_page}}{% verbatim %}}{% endverbatim %},
            author = {% verbatim %}{{% endverbatim %}{{ BibTeX_authors|e }}{% verbatim %}}{% endverbatim %},
            keywords = {% verbatim %}{{% endverbatim %}{{keywords|join(', ')|e}}{% verbatim %}}{% endverbatim %},
            language = {% verbatim %}{{% endverbatim %}{{language}}{% verbatim %}}{% endverbatim %},
            title = {% verbatim %}{{% endverbatim %}{{title|e}}{% verbatim %}}{% endverbatim %},
            publisher = {% verbatim %}{{% endverbatim %}{{publisher|e}}{% verbatim %}}{% endverbatim %},
            year = {% verbatim %}{{% endverbatim %}{{year}}{% verbatim %}}{% endverbatim %}
          }
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>