{# Use the correct heading level depending on view mode #}
{{ title_prefix }}
{% if not page and (view_mode != 'page_header') %}
  {% if view_mode == 'teaser' %}
    <h2{{ title_attributes }}>
  {% else %}
    <h3{{ title_attributes }}>
  {% endif %}
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  {% if view_mode == 'teaser' %}
    </h2>
  {% else %}
    </h3>
  {% endif %}
{% endif %}

{{ title_suffix }}