    <div class="view-display-toggle" aria-hidden="hidden">
      <h3 class="hidden">{{ 'Format results'|t }}</h3>
       <ul class="display-list">
         <li>
           <button data-target="results--table"  class="switch-display" title="{{'Table view'|t}}">
             <span class="text-label hidden">{{ 'Table view'|t }}</span>
             <svg><use href="#table" /></svg>
           </button>
         </li>
         <li>
           <button data-target="results--cards" class="switch-display" title="{{'Card view'|t}}">
             <span class="text-label hidden">{{ 'List view'|t }}</span>
             <svg><use href="#list" /></svg>
           </button>
         </li>
         <li>
           <button data-target="results--teasers" class="switch-display" title="{{'Expanded view with abstract'|t}}">
             <span class="text-label hidden">{{ 'Teaser view'|t }}</span>
             <svg><use href="#teaser" /></svg>
           </button>
         </li>
      </ul>
    </div>
