{#
/**
 * @file
 * Custom theme implementation to display a node.
 * Custom template for Talk nodes in Full view mode.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <span class="talk-number">
    {{ content.group_talk_details.scitalk_prefixed_talk_number['#items'].0.value }}
  </span>
  {% block video %}
    {{ content.field_talk_video }}
    {{ content.field_talk_video_url }}
  {% endblock %}

  {{ drupal_region('page_title') }}
  {% include '@scitalk_theme/includes/speaker-fields.twig' %}

  {{ content|without('field_talk_number','scitalk_prefixed_talk_number','field_talk_video', 'field_talk_video_url', 'field_talk_speaker_profile',  'field_talk_speakers_text', 'group_talk_resources') }}

  {# don't display resources if there are no attachments, otherwise the Resources title shows up #}
  {% if content.group_talk_resources.field_talk_attachments|render is not empty %}
    {{ content.group_talk_resources|without('field_talk_transcripts')}}
  {% endif %}

  {# don't show transcripts if there's no video #}
  {% if content.field_talk_video|render is not empty %}
    {{ content.group_talk_resources.field_talk_transcripts }}
  {% endif %}

</article>

<aside class="related-talks-view">
  {{ drupal_block('views_block:scitalk_related_talks-block_1')}}
</aside>
