{% extends "node.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a Talk node.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {% if content.field_talk_thumbnail.0 %}
    {{ content.field_talk_thumbnail }}
  {% endif %}
  <div class="content">
    {% embed "@scitalk_theme/includes/entity-headers.twig" %}{% endembed %}
    <div class="speaker-date">
      {{ content.field_talk_speaker_profile }}
      {{ content.field_talk_speakers_text }}
    </div>
    <div class="info">
      {{ content.field_talk_date }}
      {{ content.field_talk_collection }}
      {{ content.field_talk_series }}
    </div>

    <div class="details">
      {{ content.field_talk_source_repository }}
      {{ content|without('links', 'field_talk_source_repository','field_talk_collection','field_talk_series','field_talk_thumbnail', 'field_talk_speaker_profile', 'field_talk_speakers_text','field_talk_date') }}
    </div>
    <div class="actions">
      <a class="talk-info" href="{{url}}">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
      </svg>
        {{ 'View Details'|t }}
      </a>
    </div>
  </div>
{% endblock %}
