{#
/**
 * @file
 * Custom theme implementation to display a node.
 * Custom template for Talk nodes in Full view mode.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ content.field_talk_number }}
  {{ content.field_talk_video }}
  <div class="node--content">
    {{ drupal_region('page_title') }}
    <div class="speakers">
      {% include '@scitalk_theme/includes/speaker-fields.twig' %}
    </div>
    {{ content|without('field_talk_number','field_talk_video', 'field_talk_speaker_profile',  'field_talk_speakers_text') }}
  </div>
</article>

<aside class="related-talks-view">
  {{ drupal_view('scitalk_talks_in_collection', 'related_talks')}}
</aside>
