{% extends "node.html.twig" %}
{#
/**
 * @file
 * Custom theme implementation to display a Talk node.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {% if view_mode == 'teaser' and content.field_talk_abstract.0['#text']|length > 200 %}
    {% set show_show_more = TRUE %}
    {% set content_classes = ['collapse-abstract'] %}
  {% endif %}
  {{ content.field_talk_thumbnail }}
  <div{{ content_attributes.addClass(content_classes,'content node-content') }}>
    {% embed "@scitalk_theme/includes/entity-headers.twig" %}{% endembed %}
    <div class="speakers">
      {% include '@scitalk_theme/includes/speaker-fields.twig' %}
    </div>
    <div class="info">
      {{ content|without('links','field_talk_thumbnail', 'field_talk_speaker_profile', 'field_talk_speakers_text','field_talk_abstract') }}
    </div>
    {% if view_mode == 'teaser' %}
      {{ content.field_talk_abstract }}
      {% if show_show_more == TRUE %}
        <button class="show-more show" aria-hidden="hidden" data-hide-text="{{'Hide'}}" data-show-text="{{'Show more'}}">{{'Show more'|t}}</button>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
