{#
/**
 * @file
 * Custom theme implementation for the advanced search view
 * Renders sort filters exposed form
 * Adds mark-up for card/table dispay toggle
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'view',
    'view--' ~ css_name,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'js-tabs'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if search_result_count or search_input %}
  <p class="search-summary">
    {% trans %}
      Displaying {{ search_result_count}} results
    {% endtrans %}
      {% if search_input %}
        {{ 'for'|t }} <em>{{ search_input }}</em>
      {% endif %}
    <button aria-hidden="hidden" class="filter-toggle show-filters">
      <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M496 384H160v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h80v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h336c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160h-80v-16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h336v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h80c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm0-160H288V48c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v16H16C7.2 64 0 71.2 0 80v32c0 8.8 7.2 16 16 16h208v16c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-16h208c8.8 0 16-7.2 16-16V80c0-8.8-7.2-16-16-16z"></path></svg>
      <span class="text">{{ 'filter'|t }}</span>
    </button>
  </p>
  {% endif %}

  <div class="search-exposed-filters visually-hidden">
    {{ exposed }}
  </div>

  <header class="advanced-search-header">
    <div class="search-summary">
      {{ header }}
    </div>
    <div class="search-exposed-sort">
      {# Render the sort exposed form using Twig Tweak  #}
      {{ drupal_block('views_exposed_filter_block:scitalk_advanced_search-sort_filters')}}
    </div>

    {% include '@scitalk_theme/views/view-toggle.twig' %}

  </header>

  <div data-display="results--cards" class="search-display">
    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
    {{ pager }}
  </div>

  <div data-display="results--table" class="search-display hidden" aria-hidden="hidden">
    {{ attachment_after }}
  </div>
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

</div>
