{#
/**
 * @file
 * Custom theme implementation for the advanced search view
 * Renders sort filters exposed form
 * Adds mark-up for card/table dispay toggle
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'view',
    'view--' ~ css_name,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'js-tabs'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  <header class="advanced-search-header">
    <div class="header">
      {% if header %}
        {{ header }}
      {% endif %}
    </div>
    <div class="search-exposed-sort">
      {{ exposed }}
    </div>
    {% include '@scitalk_theme/views/view-toggle.twig' %}

  </header>

  <div data-display="results--cards" class="search-display">
    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
    {{ pager }}
  </div>

  <div data-display="results--table" class="search-display hidden" aria-hidden="hidden">
    {{ attachment_after }}
  </div>
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

</div>
