{#
/**
 * @file
 * Theme override to display a media item.
 * Resource link is the view mode.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'resource-link',
  'resource--' ~ bundle,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    <span class="icon">
      {% if bundle == 'arxiv' %}
        <a href="http://arxiv.org/abs/{{ content.field_media_scitalk_arxiv['#items'].0.value }}" target="_blank">
          {{ 'ArXiv' }}
        </a>
      {% elseif bundle == 'file' %}
        {% set file_name = content.field_media_file.0['#file'].getFileName() %}
        {% set file_extension = file_name|split('.')|last %}
        {{ file_extension }}
      {% elseif bundle == 'image' %}
        {% set image_uri = content.field_media_image['#items'].0.entity.getFileUri() %}
        <a href="{{ file_url(image_uri) }}" class="js-modal" data-modal-prefix-class="image" data-modal-title="{{ name }}" data-modal-text="<img src='{{ file_url(image_uri) }}' />" aria-haspopup="dialog">
          {{ content.field_media_image }}
        </a>
      {% elseif bundle == 'remote_file' %}
        {% set file_name = content.field_media_scitalk_remote_file['#items'].0.value|split('/')|last %}
        {% set file_extension = file_name|split('.')|last %}
        <a href="{{ content.field_media_scitalk_remote_file['#items'].0.value }}" target="_blank">
        {{ file_extension }}
        </a>
      {% elseif bundle == 'scitalk_transcription' %}
        {# <a href="#" onclick="document.querySelector('.transcript-text-wrapper a').click();">
          {{ 'Text' }}
        </a> #}
        <a href="#" class="toggle_transcript">
          {{ 'Text' }}
        </a>
      {% elseif bundle == 'doi' %}
        <a href="http://doi.org/{{ content.field_media_scitalk_doi['#items'].0.value }} " target="_blank">
          {{ bundle }}
        </a>
      {% else %}
        {{ bundle }}
      {% endif %}
    </span>

    <div class="reference-content">
      {% if bundle == 'doi' %}
        <p class="small">{{ 'DOI: ' }} {{ content.field_media_scitalk_doi }}</p>
        <p><a href="http://doi.org/{{ content.field_media_scitalk_doi['#items'].0.value }} " target="_blank">{{ content.field_doi_title }}</a></p>
        {{ content|without('field_media_scitalk_doi','field_doi_title') }}
      {% elseif bundle == 'arxiv' %}
        <p class="small">{{ 'arXiv: ' }} {{ content.field_media_scitalk_arxiv }}</p>
        <p><a href="http://arxiv.org/abs/{{ content.field_media_scitalk_arxiv['#items'].0.value }}" target="_blank">{{ content.field_arxiv_title }}</a></p>
        {{ content|without('field_media_scitalk_arxiv', 'name', 'field_arxiv_title') }}
      {% elseif bundle == 'image' %}
        {{ name }}
      {% elseif bundle == 'file' %}
        {% set file_bytes = content.field_media_file.0['#file'].getSize() %}
        {% if file_bytes > 1024 %}
          {% set filesize = (file_bytes / 1024)|number_format(1, '.') ~ 'mb'  %}
        {% else %}
          {% set filesize = file_bytes ~ 'kb' %}
        {% endif %}
        {{ content }} | {{ filesize }}
      {% elseif bundle == 'remote_file' %}
        {% set filename = content.name['#items'].0.value ?? content.field_media_scitalk_remote_file['#items'].0.value|split('/')|last %}
        <a href="{{ content.field_media_scitalk_remote_file['#items'].0.value }}" target="_blank">{{ filename }}</a>
      {% elseif bundle == 'scitalk_transcription' %}
          {% set transcript_text = content.field_media_scitalk_transcript['#items'].0.value %}
          {# <div class="transcript-text-wrapper">
              <a href="#" class="transcript-label js-modal" data-modal-content-id="transcript-content" data-modal-title="{{ name }}" aria-haspopup-"dialog">
                <span class="text">{{ 'Transcript'|t }}</span>
              </a>
            <div id="transcript-content">
              <div class="transcript-content-wrapper">
                {{ transcript_text |nl2br }} 
              </div>
            </div>
          </div> #}

          <div class="transcript-text-wrapper">
              <a href="#" id="toggle_transcript" class="toggle_transcript">
                <span class="text">{{ 'Show Transcript'|t }}</span>
              </a>
          </div>

          <div id="formatted-transcript-text" class="transcript">
              {{ formatted_trascript_text|raw }}
          </div>

          <div id="formatted-transcript-modal" class="transcript-modal">
            <!-- Modal content for transcript on smaller screens -->
            <div class="transcript-modal-content">
              <div class="transcript-modal-header">
                <span class="transcript-modal-close">&times;</span>
                <h2>Transcript</h2>
              </div>
              <div class="transcript-modal-body">
              </div>
              {# <div class="transcript-modal-footer">
              </div> #}
            </div>
          </div>
      {% endif %}
    </div>
  {% endif %}
</div>
