{#
/**
 * @file
 * Custom theme implementation to display a node.
 * Starlight default for all nodes not in "full" view mode
 *
 * Documentation here: https://api.drupal.org/api/drupal/core!modules!node!templates!node.html.twig/8.2.x
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% if not page and (view_mode != 'page_header') %}
    {{ title_prefix }}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {{ title_suffix }}
  {% elseif view_mode == 'page_header' %}
    <h1>{{label}}</h1>
  {% endif %}
  {{ content|without('links') }}

  {{ content.links }}
</article>
